
#infinite-grid-menu-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.face-content {
  color: hsl(var(--foreground));
  font-family: 'Inter', sans-serif;
  pointer-events: none;
}

.face-text-wrapper {
  /* This wrapper can be used for additional styling if needed */
}

.face-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  color: hsl(var(--primary-foreground));
  text-shadow: 0 1px 3px hsla(var(--foreground) / 0.1);
}

.face-description {
  font-size: 0.85rem;
  line-height: 1.4;
  color: hsl(var(--primary-foreground) / 0.8);
}
